* {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
body{
    width: 1440px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
#top_main{
    background: url(images/bg-hero-desktop.svg) no-repeat #edfbfe;
    height: 720px;
}
.huddle_header{
    padding: 60px 0;
}
.btn_try,.left_text p, .left_text h1,.main_box div h3,.small_box h4{
    color: #00252e;
}
.btn_try{
    background: #ffffff;
    border-radius: 45px;
    float: right;
    width: 200px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0px 5px 0px #d4d3d36b;
    border: 1px solid #ececec;
}
.mockup_img{
    width: 95%;
}
.left_text{
    padding: 8% 0 0;
}
.left_text h1{
    line-height: 1.5;
    font-weight: 600;
}
.left_text p{
    font-size: 15px;
    padding: 2% 21% 2% 0;
}
.btn_start{
    background: #fe52c0;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    width: 280px;
    height: 50px;
    border-radius: 25px;
}
.main_box{
    box-shadow: 0 0px 5px 0px #d4d3d36b;
    margin: 5% 0 2%;
    padding: 0 20px 0 50px;
    border-radius: 15px;
}
.main_box .main_box_left{
    padding: 13% 5% 0 7%;
}
.main_box_left h3{
    font-weight: 600;
    margin-bottom: 3%;
}
.main_box_left p{
    color: #8f969c;
    font-size: 17px;
}
.main_box img{
    width: 80%;
}
.main_box_right{
    padding: 5% 0 5%;
    text-align: right;
}
.small_box{
    background: #ffffff;
    box-shadow: 0 0px 5px 0px #d4d3d36b;
    border-radius: 15px;
    text-align: center;
    padding: 4% 0;
    position: relative;
    z-index: 9999;
    top: -130px;
}
.small_box h4{
    padding-bottom: 3%;
}
.footer{
    background: #00252e;
    padding: 0 0 2%;
    margin: 15% 0 0;
}
.footer_logo{
    margin: 0 0 4%;
}
.info{
    padding: 2%;
    color: #ffffff;
}
.info img{
    padding: 0 5%;
    float: left;
}
.info label{
    float: left;
    width: 10%;
}
.info span{
    float: right;
    width: 85%;
    font-size: 12px;
}
.info span a,.table a,.social-icons,.copyright{
    color: #ffffff;
}
.social-icons li{
    list-style: none;
    float: left;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    margin: 6px;
}
.table td{
    padding-left: 25%;
}
.copyright{
    text-align: right;
    padding-right: 5%;
    font-size: 14px;
}

#top_main .container,#middle_main .container{
    max-width: 1300px;
}
/* ---Responsive---*/
@media (min-width: 1200px) {
    #top_main .container,#middle_main .container{
        max-width: 1300px;
    }
}

@media (min-width: 375px) {
    p{
        font-size: 2rem;
    }
}